table, th, td {
    border: 1px solid #BFCFE7;
}



.unarchive-btn {
    height: 30px;
    padding: 2px 20px;
    margin: 5px auto;
    text-align: center;
    align-items: center;
    cursor: pointer;

}

.activity-id {
    cursor: pointer;
}

pre {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: white; */
}