.mainContainer {
    position: sticky;
    top: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    background-color: #3D3B40;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
}

.mainContainer .tab {
    margin-right: 20px;
    cursor: pointer;
}